<div class="page-header">
  <h1><%= @cat.name %></h1>
</div>

<h3>This cat's toys are...</h3>

<div class="well">
  <ul>
    <% if @cat.toys.any? %>
      <% @cat.toys.each do |toy| %>
        <li><%= toy.name %></li>
      <% end %>
    <% else %>
      <li>OH NOES! I has no toize.</li>
    <% end %>
  </ul>
</div>
